    <!-- Modal Ultimas Lanzadas -->
        <div class="modal fade" id="MenuModalLanzadas" tabindex="-1" role="dialog" aria-labelledby="Lanzadas" aria-hidden="true" data-backdrop="static">
            <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="titulo">Ventana modal ultimas lanzadas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <br>
                    <div class="modal-body">                   
                            <div id="datos_lanzadas"></div>                          
                            <div id="info_title"></div>                          
                            <div id="info_text"></div>
                            <div id="modelo_ticket"></div>
                            <div id="logistica_ticket"></div>
                            <div id="usuario_ticket"></div>
                            <br/>
                            <div id="datos_bandeja">
                                <h5 class="modal-title" id="configuracion_bandeja">Configuracion bandeja</h5>
                            </div>
                    <br/>  
                    </div><!-- /.modal-body -->
                    <div class="modal-footer">
                        <button type="button" class="btn change_wiring btn-primary" id="btn_change_wiring" >CAMBIO DE CABLE</button>
                        <button type="button" class="btn generar_ticket btn-info" id="btn_ticket_popover" >GENERAR TICKET</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn-close">Cerrar</button>
                    </div><!-- /.modal-footer -->
                </div> <!-- /.modal-content -->
            </div> <!-- /.modal-dialog -->
        </div> <!-- /.modal -->

