<div class="modal fade" id="MenuModalCables" tabindex="-1" role="dialog" aria-labelledby="Cables" aria-hidden="true" data-backdrop="static">
   <div class="modal-dialog modal-dialog-centered modal-lg modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">COMUNICAR CAMBIO CABLEADO</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body"> 
        <div id="cable_shelf_number" class="cable_shelf_number"></div>
        <div id="cable_environment_name" class="cable_environment_name"></div>
        <div id="cable_user_number" class="cable_user_number"></div>
        </br>
        </br>
        <div id="cables"></div>    
        <div id="selected_cables"></div>
        <div id="requested_cables"></div>             
      </div> <!-- modal-boy -->                  
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" id="btn_confirm_cables">Confirmar</button>
        <button type="button" class="btn btn_send_cables btn-info" id="btn_send_cables">ENVIAR</button>
        <button type="button" class="btn btn-danger" data-dismiss="modal" id="btn-close">Cerrar</button>
      </div>
    </div><!-- model content -->
  </div><!--modal dialog -->
</div> <!-- MenuModalCables-->

